li{
	 list-style-type: none;
	 padding-top: 20px;
}

#footer{
	position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
}

#form{
	padding-top: 100px;
}

.moviebar{
	background-image: url(/FilmReel.png);
	background-repeat: repeat-x;
	height: 80px;
	background-size: auto 80px;
}

body{
	background-color: #BC9D51;
	font-family: courier;
}