
h1{
	text-align: center;
}

#top{
		left: 20%;
		position: fixed;
	}

#comment_title{
	font-size: 24px;
}

#commentbtn{
	float: right;

}

#home{
	padding-left: 10px
}

#div5 {
    display: none;
    height: 25px;
    font-size: 14px;
  /*  color: #F7F7F7;*/
}

body{
	padding-top: 200px;
	background-color: #BC9D51;
	font-family: courier;
	height:100%;
	margin-bottom: 100px;
}

.container{
	margin-top: -50px;
}

#oscars{
    max-height: 25px;  
    max-width: 160px;  
    position: fixed;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 200;  
    margin: auto; 
    margin-top: 250px;
}

#home_button{
	margin-top: -50px;
}

a.class1 {color:#0C5521;}
a.class1:link  {text-decoration: none; color: #0C5521;}
a.class1:visited {text-decoration: none; color: #0C5521;}
a.class1:hover {text-decoration: underline; color: #0C5521;}
a.class1:active {text-decoration: none; color: #0C5521;}

.color{
	color: #0C5521;
}

li{
	 list-style-type: none;
	 padding-top: 20px;
}


#poster{
	float: right;
	padding-bottom: 80px;
	padding-top: 20px;
	margin-top: -30px;
	width: 30%;
	height: auto;
}

a:link  {text-decoration: none; color: #464447;}
a:visited {text-decoration: none; color: #464447;}
a:hover {text-decoration: underline; color: #464447;}
a:active {text-decoration: none; color: #464447;}

#forms{
	 display: inline-block;
	 float: left;
}

#first{
	font-size: 20px;
}

.container-fluid{
	background-color: #AB8024;
	z-index: 2
}

.container1{
	position: fixed;  
    width: 100%;  
    left: 0;  
    top: 0;  
    z-index: 1;  
    border-top: 0;
}

#footer{
	position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
}

#form{
	padding-top: 30px;
}

#nav1{
	margin-top: -20px;
	margin-bottom: -2px;
}

#nav2{
	margin-top: -10px;
	margin-bottom: -2px;
}

.moviebar{
	background-image: url(/FilmReel.png);
	background-repeat: repeat-x;
	height: 80px;
	background-size: auto 80px;
}
